<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmployeeTable</title>
</head>
<body>
    <h1>EmployeeTable</h1>

    <form method="post">
        {%csrf_token%}

       <label>Enter ur name</label>
       <input type="text" name="name">
       <label>Enter ur age</label>
       <input type="text" name="age">
       <label>Enter ur mail</label>
       <input type="text" name="mail">
       <label>Enter ur name</label>
       <input type="text" name="dofj">
       <button>submit</button>



    </form>
  
   

 
      

  
</body>
</html>